html
    body
        h1 new course
        h2 available courses
        table(border=1)
            tr
                th course code
                th course name
                th begin time
                th end time
                th days
                th faculty
                th 
            each course in available_list
                tr
                    td= course.ccode
                    td= course.cname
                    td= course.ctime_begin
                    td= course.ctime_end
                    td= course.days
                    td= course.handlingfac
                    td
                        form(action="/stud/newcourse", method="post")
                            button(type="submit" name="coursecode", value=course.ccode) Add
        br
        br
        h2 alloted courses
        table(border=1)
            tr
                th course code
                th course name
                th begin time
                th end time
                th days
                th faculty
            each course in alloted_list
                tr
                    td= course.ccode
                    td= course.cname
                    td= course.ctime_begin
                    td= course.ctime_end
                    td= course.days
                    td= course.handlingfac